<div
  class="container-fluid bg-body-tertiary d-flex flex-column justify-content-between align-items-center"
>
  <header class="w-100 my-3">
    <div class="d-flex flex-column align-items-center gap-4">
      <h1 class="m-0">Template Component - Article List</h1>
      <button class="btn btn-outline-dark" (click)="create()">
        Add New Article
      </button>
    </div>
  </header>

  <button (click)="this.articlesService.delete().subscribe()">delete</button>

  <main class="w-75">
    @if(articles().length > 0) {

    <!-- section init state -->
    <section>
      <div
        class="d-flex flex-wrap justify-content-between align-items-stretch gap-3"
      >
        @for (article of articles(); track article.id; let index = $index) {
        <div style="flex-basis: 30%">
          <!-- app-card -->
          <app-card
            [title]="article.title"
            [imageUrl]="article.imageUrl"
            [content]="article.content"
            [showImage]="article.showImage"
          >
            <div class="d-flex justify-content-center gap-3 my-3">
              <button
                class="btn btn-outline-dark btn-sm"
                (click)="showImage(article.id)"
              >
                {{ toggleButtonLabel(article.showImage) }}
              </button>
              <button 
              class="btn btn-outline-dark btn-sm"
              (click)="edit(article.id)"
              >Edit</button>
            </div>
          </app-card>
        </div>
        }
      </div>
      </section>

    <!-- section create/edit state -->
    <section>
      <div
        style="background: rgba(0, 0, 0, 0.5); backdrop-filter: blur(5px)"
        class="position-fixed top-0 start-0 vw-100 vh-100"
        [hidden]="isVisibleMode()"
      >
        <div class="w-75 mt-3 mx-auto d-flex justify-content-between gap-5 p-3">
          <!-- form -->

          <div class="d-flex flex-column bg-transparent w-50 rounded">
            
            <app-form
             [mode]="this.mode()"
             [articleData]="article()"
             (sendArticlePreview)="handlePreviewArticle($event)"
             (submitArticle)="handleSubmitForm($event)" 
             >
              <button 
              type="button" 
              class="btn btn-danger"
              (click)="closeActiveMode()"
              >Cancel</button>
            </app-form>
          </div>

          <div class="d-flex flex-column gap-3 w-50 rounded bg-danger-subtle " >
            <h2 class="fs-4 fw-medium bg-body-tertiary text-center p-3 rounded">Preview</h2>

            <!-- card preview -->

            <app-card 
            [imageUrl]="article().imageUrl"
            [title]="article().title"
            [content]="article().content"
            [showImage]="true"
            >
              <div class="d-flex justify-content-center gap-3 my-3">
                <button class="btn btn-outline-dark btn-sm" [disabled]="!isVisibleMode()">
                  Show Image
                </button>
                <button class="btn btn-outline-dark btn-sm" [disabled]="!isVisibleMode()">Edit</button>
              </div>
            </app-card>
          </div>
        </div>
      </div>
    </section>
  } @else {
    <div class="w-100 text-center my-5">
      <div class="spinner-border" role="status"></div>
    </div>
    }
</main>

  <footer class="w-100">
    <app-footer />
  </footer>
</div>
