<div
  class="container-fluid bg-body-tertiary d-flex flex-column justify-content-between align-items-center"
>
  <header class="w-100 my-4">
    <div class="d-flex flex-column align-items-center gap-4">
      <h1 class="m-0">Template Component - Article List</h1>
      <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Article</button>

      <!-- <button 
      class="btn btn-outline-dark"
      (click)="addNewArticle()"
      >Add New Article</button> -->
    </div>
  </header>

  <main class="w-75">


    @if(articles().length > 0){



    <section>
      <div class="d-flex flex-wrap justify-content-between align-items-stretch gap-4">

      @for (article of articles(); track article.id) {
        <div style="flex-basis: 30%;"> 
          <app-card 
            [title]="article.title"
            [imageUrl]="article.imageUrl"
            [content]="article.content"
            [id]="article.id"
            [showImage]="article.showImage"
            [btnLabel]="getButtonLabel(article.showImage)"
            (clickEvent)="handleShowImageButtonClick($event)"
          ></app-card>
        </div>
      }

    </div>
  </section>

  <section>
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">

  <div 
  class="bg-success-subtle w-75 mt-5 mx-auto d-flex justify-content-evenly align-items-center gap-4 p-3">
    <div class="">
      <app-form></app-form>
    </div>
    <div class="d-flex flex-column gap-3">
      <div>Preview</div>
      <div>
        <app-card></app-card>
      </div>
    </div>

  </div>

    </div> 


  </section>


  } @else {
    <div class="w-100 text-center my-5">
    <div class="spinner-border" role="status"></div>  
  </div>
  }
  </main>




  <footer class="w-100">
    <app-footer />
  </footer>
</div>




<!-- <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Article</button> -->


<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header border-0 justify-content-center">
        <h1 class="modal-title fs-5 " id="exampleModalLabel">Create Mode</h1>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>


    </div>

    <div style="width: 200px; height: 150px;" class="bg-info position-relative mt-5"></div>
  </div>



  </div>
 -->
